{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<storage-conn-string>",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AZURE_TABLE_CONN": "UseDevelopmentStorage=true;",
    "AZURE_TABLE_NAME": "QuizResponses"
  }
}
